.idea
hivemq4-prometheus-monitoring-plugin.iml

### Maven template
target/
dependency-reduced-pom.xml
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


