name: Release Extension

on:
  release:
    types: [ published ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      - name: Build Zip
        run: ./gradlew hivemqExtensionZip
      - name: Generate SHA256 checksum
        run: |
          cd build/hivemq-extension
          sha256sum hivemq-prometheus-extension-${{ github.event.release.name }}.zip | cut -d' ' -f1 > hivemq-prometheus-extension-${{ github.event.release.name }}.zip.sha256
      - name: Upload GitHub Release Asset
        run: gh release upload ${{ github.event.release.tag_name }} ./build/hivemq-extension/hivemq-prometheus-extension-${{ github.event.release.name }}.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload SHA256 Checksum
        run: gh release upload ${{ github.event.release.tag_name }} ./build/hivemq-extension/hivemq-prometheus-extension-${{ github.event.release.name }}.zip.sha256
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
